header {
  background-image: url(../images/rain-background.jpeg);
  background-size: cover;
  display: block;
  border-bottom: #000000;
  border-bottom-style: solid;
}

h1 {
  text-align: center;
  padding: 30px;
  color: #fff;
  text-shadow: 0px 0px 20px #0000ff;
}

.card {
  min-width: 142px;
  background-color: #8eb4fc;
  margin: 1px;
}

#searchInput, button {
  width: 100%;
  margin-bottom: 5px;
}

#currentWeather {
  padding: .25em;
}

img {
  width: 74px !important;
  height: auto !important;
}

h4 {
  text-transform: capitalize;
}

#currentUV {
  border: 1px solid #000000;
  border-radius: 1rem;
  padding: 5px;
}

#weatherDashboard {
  visibility: hidden;
}

/* UV Colors used were from https://en.wikipedia.org/wiki/Ultraviolet_index */
.lowUV {
  background-color: #3ea72d;
  color: #fff;
}

.moderateUV {
  background-color: #fff300;
}

.highUV {
  background-color: #f18b00;
}

.veryHighUV {
  background-color: #e53210;
  color: #fff;
}

.extremeUV {
  background-color: #b567a4;
  color: #fff;
}

hr {
  margin-top: 10px;
  margin-bottom: -16px;
}

#searchedCity {
  min-width: 300px;
}

#currentDate {
  min-width: 140px;
}

h6 {
  margin-bottom: -10px;
}
